@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eeeeee;
}

canvas {
  margin: 50px 0 100px 30%;
}